body {
    background-color: #effcef;
}

.self-img {
    border-radius: 100%;
}
.self-img:hover {
    background-color: #94d3ac;
}

hr {
    margin-right: 20px;
    border-style: dotted none none;
    border-color: #ccedd2;
    border-width: 5px;
    width: 10%;
}

h1, h3 {
    color: #94d3ac;
}

a, a:visited {
    color: #94d3ac;
    text-decoration: none;
    transition-duration: 0.3s;
}

a:hover {
    font-size: 104%;
}