body {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #000000;
}

/* Header */  
#header {
    background-image: url(/docs/images/18010.jpg);
}


.container-fluid {
    padding-bottom: 3%;
    padding-top: 3%;
}

.navbar-brand {
    font-size: 0.8125rem;
    font-weight: 300;
}

.navbar-toggler{
    border: none;
}

.header-title {
    margin-bottom: 2.5rem;
    font-size: 1.125rem;
    font-weight: 300;
    letter-spacing: 0.04rem;
}

.self-img {
    border-radius: 100%;
    width: 80%;
}

.header-content {
    padding: 7%;
}

.header-name {
    margin: 2.5rem 0 1.5rem;
    font-size: 2.25rem;
    color:#CD1C24;
    font-weight: 700;
    letter-spacing: 0.13rem;
}

.header-button {
    letter-spacing: 0.13rem;
    font-size: 0.6875rem;
    border-radius: 20px;
    background-color:#CD1C24;
    margin-bottom: 1rem;
}